@charset "UTF-8";
@font-face {
  font-family: "Happy Times";
  src: url("../fonts/happytimes-regular.woff2?v=2.020") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Happy Times";
  src: url("../fonts/happytimes-italic.woff2?v=2.020") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Happy Times";
  src: url("../fonts/happytimes-bold.woff2?v=2.020") format("woff2");
  font-weight: bold;
  font-style: normal;
}
:root {
  font-family: "Happy Times";
  font-size: 1em;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote :first-child::before, q::before {
  content: "« ";
}

blockquote :last-child::after, q::after {
  content: " »";
}

p {
  margin: 1rem 0;
}

button {
  background-color: transparent;
  border: none;
}
button:not(:disabled) {
  cursor: pointer;
}
button:not(:disabled):hover, button:not(:disabled):focus {
  font-weight: bold;
}
button:disabled {
  pointer-events: none;
}
button:not([data-slug=research]):active {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}
a:hover, a:active, a:focus {
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

#participate {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (orientation: landscape) {
  #participate {
    flex-direction: row;
  }
}

section#left {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (orientation: landscape) {
  section#left {
    width: 40%;
  }
}
@media (min-width: 1080px) and (orientation: landscape) {
  section#left {
    width: 30%;
  }
}

section#right {
  width: 100%;
  z-index: 1;
}
@media (orientation: landscape) {
  section#right {
    overflow: auto;
    margin: 0 10px 0 4rem;
  }
}
@media (min-width: 768px) {
  section#right {
    overflow: hidden;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  section#right {
    width: 60%;
  }
}
@media (min-width: 1080px) and (orientation: landscape) {
  section#right {
    width: 70%;
  }
}

.intro > div {
  display: flex;
  align-items: flex-start;
  align-items: center;
}
.intro .what-button {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-weight: bold;
  padding: 2px;
  line-height: 1;
  margin-left: 1rem;
  background-color: black;
  color: white;
}

#what-div, #submit-div {
  position: absolute;
  background-color: black;
  color: white;
  padding: 1.5rem;
  z-index: 1000;
  top: 0;
  width: 100%;
  min-height: 100%;
}
@media (min-width: 600px) and (min-height: 600px) {
  #what-div, #submit-div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    min-height: auto;
  }
}
#what-div ul, #submit-div ul {
  list-style: disc;
  padding-left: 1rem;
}
#what-div h2, #what-div span.thanks, #submit-div h2, #submit-div span.thanks {
  font-size: 1.25rem;
}
#what-div h2:not(:first-of-type), #what-div span.thanks, #submit-div h2:not(:first-of-type), #submit-div span.thanks {
  margin-top: 1.5rem;
}
#what-div h2, #submit-div h2 {
  display: inline-block;
}
#what-div p, #submit-div p {
  margin: 0;
}
#what-div a, #submit-div a {
  color: blue;
}
#what-div a:hover, #what-div a:active, #what-div a:focus, #submit-div a:hover, #submit-div a:active, #submit-div a:focus {
  font-weight: normal;
  text-decoration: underline;
}
#what-div .cross, #submit-div .cross {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  margin: 1.5rem;
}
#what-div .cross img, #submit-div .cross img {
  width: 100%;
}

#what-div span.licence {
  display: block;
  margin-bottom: 0.5rem;
}
#what-div span.thanks {
  display: block;
}

#submit-div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#submit-div h2 {
  margin-bottom: 0.5rem;
}
#submit-div ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
#submit-div ul li {
  border: 1px solid white;
}
#submit-div ul li:first-of-type {
  margin-right: 20px;
}
#submit-div ul li button {
  color: white;
  padding: 5px;
}
#submit-div ul li button:hover, #submit-div ul li button:active, #submit-div ul li button:focus {
  background-color: white;
  color: black;
}

.intro h1, form input::placeholder, form input:not(:placeholder-shown), form textarea::placeholder, .form-field:nth-of-type(odd):not(:first-of-type) .form-label, #player #player-aside #content .infos:not(#website) > *, #player #player-aside #content > p {
  font-size: 2rem;
}
@media (min-width: 600px) and (min-height: 768px) {
  .intro h1, form input::placeholder, form input:not(:placeholder-shown), form textarea::placeholder, .form-field:nth-of-type(odd):not(:first-of-type) .form-label, #player #player-aside #content .infos:not(#website) > *, #player #player-aside #content > p {
    font-size: 3.5vw;
  }
}

@media (orientation: portrait) {
  .intro h1 {
    margin-top: 2px;
  }
}

.form-field:not(:nth-of-type(5)) input, .form-field:nth-of-type(odd):not(:first-of-type) .form-label, textarea {
  min-height: 2.5rem;
}
@media (min-width: 600px) and (min-height: 768px) {
  .form-field:not(:nth-of-type(5)) input, .form-field:nth-of-type(odd):not(:first-of-type) .form-label, textarea {
    min-height: 5vw;
  }
}

.form-field:nth-of-type(odd):not(:first-of-type) {
  margin-bottom: 1rem;
}

textarea {
  vertical-align: super;
}

@-moz-document url-prefix() {
  .form-input-wrapper input:not([type=color]), textarea {
    min-height: 2rem;
  }
  @media (min-width: 600px) and (min-height: 768px) {
    .form-input-wrapper input:not([type=color]), textarea {
      min-height: 3.5vw;
    }
  }

  .form-field:nth-of-type(odd):not(:first-of-type) {
    margin-bottom: 0;
  }

  textarea {
    vertical-align: none;
  }
}
.intro > p > a, #content a {
  color: blue;
}
.intro > p > a:hover, .intro > p > a:active, .intro > p > a:focus, #content a:hover, #content a:active, #content a:focus {
  text-decoration: underline;
}

.title:hover, .title:active, .title:focus, .intro > p > a:hover, .intro > p > a:active, .intro > p > a:focus, #content a:hover, #content a:active, #content a:focus {
  font-weight: normal;
}

nav {
  margin-bottom: 1.5rem;
}
nav .lang {
  display: flex;
  margin-bottom: 1rem;
}
nav .lang li:last-of-type {
  margin-left: 1rem;
}
nav .lang a {
  font-variant: small-caps;
}
nav .page-content li::before {
  content: "* ";
  margin-left: 1rem;
  vertical-align: sub;
  display: inline;
}

#form {
  height: 100%;
}
#form #add-page-participate {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#form form input::placeholder, #form form input:not(:placeholder-shown), #form form textarea::placeholder, #form form textarea:not(:placeholder-shown), #form .form-field:nth-of-type(odd):not(:first-of-type) .form-label {
  opacity: 1;
  font-family: "Happy Times";
  color: black;
}
#form form input:not(:placeholder-shown), #form form textarea:not(:placeholder-shown) {
  font-style: italic;
}
#form .form-field:nth-of-type(6) input:not(:placeholder-shown) {
  color: blue;
}
#form form input:placeholder-shown + label, #form form textarea:placeholder-shown + label {
  font-style: normal;
}
#form .form-field:nth-of-type(3) .form-label label {
  display: inline-flex;
  white-space: nowrap;
}
#form .form-field:nth-of-type(3) .form-label label::after {
  content: "(1 min,\a.mp3)";
  display: block;
  font-size: 1rem;
  white-space: pre;
  margin-left: 1rem;
}
#form .form-field:first-of-type .form-label, #form .form-field:not(:nth-of-type(odd)) .form-label, #form .form-label label span.required {
  display: none;
}
#form .form-label label span.required {
  display: none;
}
#form .form-field .form-input-wrapper input, #form .form-textarea-wrapper textarea {
  border: none;
  background-color: transparent;
}
#form .form-field:not(:nth-of-type(5)) .form-input-wrapper input, #form .form-textarea-wrapper textarea {
  width: 100%;
}
#form input[type=color] {
  border: none !important;
  width: 2.5rem;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 1024px) and (min-height: 600px) {
  #form input[type=color] {
    height: 2.5rem;
    width: 3.25rem;
  }
}
#form input[type=color]::-moz-color-swatch {
  border: 2px solid black;
}
@media (min-width: 1024px) and (min-height: 600px) {
  #form input[type=color]::-moz-color-swatch {
    height: 2rem;
    width: 3rem;
  }
}
#form input[type=color]::-webkit-color-swatch {
  border: 2px solid black;
}
#form .form-textarea-wrapper textarea {
  resize: none;
  line-height: 1;
}
#form .form-field:nth-of-type(odd):not(:first-of-type) .form-label, #form .form-field:nth-of-type(odd):not(:first-of-type) .form-data {
  display: inline-block;
}
#form .form-field:nth-of-type(odd):not(:first-of-type) .form-label {
  margin-right: 0.5rem;
}
#form .dz-message, #form .dz-image, #form .dz-details, #form .dz-success-mark, #form .dz-error-mark {
  display: none;
}
#form .dropzone .dz-preview.dz-error .dz-error-message {
  position: absolute;
  display: inline-block;
  min-width: 150px;
  padding: 15px 10px;
  background: none;
  background-color: #fafafa;
  border: 1px solid #a1a1a1;
  color: black;
  z-index: 1000;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8rem;
  opacity: 1;
  border-radius: 0;
  top: 50px;
}
#form .dropzone .dz-preview.dz-error .dz-error-message::before {
  content: "";
  position: absolute;
  top: unset;
  bottom: 100%;
  margin-bottom: 1px;
  left: 20px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #a1a1a1 transparent;
}
#form .dropzone .dz-preview.dz-error .dz-error-message::after {
  content: "";
  position: absolute;
  top: unset;
  bottom: 100%;
  left: 20px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fafafa transparent;
}
#form .dz-progress {
  margin-top: 30px;
  border: 1px solid #5d5d5d;
}
@media (max-width: 282px) {
  #form .dz-progress {
    margin-left: -10px;
  }
}
#form .dropzone .dz-preview .tooltip {
  top: 90px;
  left: -10px;
}
@media (orientation: portrait) and (min-width: 283px) {
  #form .dropzone .dz-preview.dz-error .dz-error-message, #form .dropzone .dz-preview .tooltip {
    left: -115px;
  }
  #form .dropzone .dz-preview.dz-error .dz-error-message::before, #form .dropzone .dz-preview .tooltip::before {
    left: 125px;
  }
  #form .dropzone .dz-preview.dz-error .dz-error-message::after, #form .dropzone .dz-preview .tooltip::after {
    left: 125px;
  }
}
#form .form-input-file.dropzone .dz-preview:hover {
  z-index: 1000;
}
#form .dropzone {
  min-height: 0;
}
#form .dropzone {
  display: flex;
  align-items: center;
  background: transparent;
  color: black;
  border: none;
  margin: 0;
  padding: 0;
}
#form .dropzone > span {
  cursor: pointer;
}
#form .dropzone > span::before {
  content: "▼";
}
#form .dropzone .dz-preview {
  min-height: 0;
  margin: 0;
}
#form .dropzone .dz-remove {
  font-size: 2rem;
  color: black;
}
#form input[name="data[name]"] + .tooltip, #form input[name="data[title]"] + .tooltip, #form textarea[name="data[message]"] + .tooltip, #form input[name="data[website]"] + .tooltip {
  margin-right: 0;
  left: 0;
  margin-top: 2.75rem;
}
@media (min-width: 600px) and (min-height: 768px) {
  #form input[name="data[name]"] + .tooltip, #form input[name="data[title]"] + .tooltip, #form textarea[name="data[message]"] + .tooltip, #form input[name="data[website]"] + .tooltip {
    margin-top: 4.5vw;
  }
}

#pagination {
  display: none;
  width: 100%;
  justify-content: space-between;
  margin-bottom: calc(3.5vw + 0.5rem);
}
@media (min-width: 768px) and (orientation: portrait), (orientation: landscape) {
  #pagination {
    display: flex;
  }
}
#pagination button {
  text-align: left;
}

section#right {
  display: flex;
  flex-direction: column;
}
section#right.hide {
  display: none;
}
section#right > div {
  height: 100%;
}
@media (min-width: 768px) and (orientation: portrait), (orientation: landscape) {
  section#right > div {
    column-width: var(--section-width);
    column-gap: 0;
    column-fill: auto;
    overflow-x: hidden;
  }
}
#contributors ul a, #titles ul a {
  width: 100%;
}
#contributors ul a ul, #titles ul a ul {
  display: flex;
  justify-content: space-between;
}
#contributors ul a li, #titles ul a li {
  width: calc(100% / 3);
  word-wrap: break-word;
  word-break: break-word;
}
#contributors ul a li:not(:last-of-type), #titles ul a li:not(:last-of-type) {
  margin-right: 1rem;
}
#contributors ul a li:last-of-type, #titles ul a li:last-of-type {
  text-align: right;
}

#colors ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
}
#colors ul::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1/1;
  grid-column: 1/1;
}
#colors ul > *:first-child {
  grid-row: 1/1;
  grid-column: 1/1;
}
#colors ul li {
  width: 100%;
}
#colors ul li a {
  width: 100%;
  height: 100%;
  display: block;
  color: transparent;
}
#colors ul li a:hover, #colors ul li a:active, #colors ul li a:focus {
  border: 2px solid black;
}

#tags, #years {
  height: calc(100% - (3.5vw + 2rem));
}
#tags p, #years p {
  margin: 0;
}

#tags ul, #years div {
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) and (orientation: landscape) {
  #tags ul, #years div {
    column-fill: auto;
    column-gap: 1rem;
    column-count: 3;
  }
}
@media (min-width: 1080px) and (orientation: landscape) {
  #tags ul, #years div {
    column-count: 5;
  }
}

#years time {
  display: inline-block;
}
#years ul:not(:last-of-type) {
  margin-bottom: 1rem;
}

#grab-icon {
  position: absolute;
  z-index: 1000;
  font-family: sans-serif;
  display: flex;
  padding: 5px;
  width: 40px;
  background-color: black;
  color: white;
  border: none;
}
@media (orientation: portrait) {
  #grab-icon {
    cursor: row-resize;
    transform-origin: bottom;
  }
}
@media (orientation: landscape) {
  #grab-icon {
    cursor: col-resize;
  }
}
#grab-icon img {
  width: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to right, var(--color), white);
  color: white;
  overflow: hidden;
  pointer-events: none;
}
@media (orientation: landscape) {
  #player {
    right: 0;
    left: auto;
  }
}
#player-grab-zone {
  width: 100%;
  height: 10px;
  position: relative;
  top: calc(100% - 10px);
  z-index: 2;
  cursor: row-resize;
  pointer-events: auto;
}
@media (orientation: landscape) {
  #player-grab-zone {
    height: 100%;
    width: 10px;
    top: auto;
    cursor: col-resize;
  }
}
#player-wrapper {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
@media (orientation: landscape) {
  #player-wrapper {
    flex-direction: row;
  }
}
#player-aside {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) and (orientation: landscape) {
  #player-aside {
    width: 40%;
  }
}
@media (min-width: 1080px) and (orientation: landscape) {
  #player-aside {
    width: 30%;
  }
}
#player-aside #content {
  height: 100%;
  pointer-events: auto;
}
#player-aside #content div, #player-aside #content > p {
  position: absolute;
}
#player-aside #content #msg {
  overflow: auto;
  margin-top: 0.25rem;
}
@media (min-width: 600px) and (min-height: 768px) {
  #player-aside #content #msg {
    margin-top: 0.5rem;
  }
}
#player-aside #content p {
  margin: 0;
}
#player-aside #content .infos {
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#player-aside #content .infos:nth-of-type(2) p::after {
  content: attr(data-duration);
  display: inline-block;
  vertical-align: text-top;
  font-size: 1rem;
  margin-left: 5px;
}
#player-aside #content .infos:last-of-type {
  margin-top: 0;
}
#player-aside #content .infos:last-of-type a {
  font-size: 1rem;
}
#player-aside #content .infos::-webkit-scrollbar {
  display: none;
}
#player-aside #content div:not(#msg):not(#website):not(.player-buttons) {
  margin-top: -5px;
}
@media (min-width: 600px) and (min-height: 768px) {
  #player-aside #content div:not(#msg):not(#website):not(.player-buttons) {
    margin-top: -0.75vw;
  }
}
#player-main {
  width: 100%;
}
@media (orientation: landscape) {
  #player-main {
    margin-left: 4rem;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #player-main {
    width: 60%;
  }
}
@media (min-width: 1080px) and (orientation: landscape) {
  #player-main {
    width: 70%;
  }
}
#player .intro h1 a, #player .page-mode button, #player .lang a {
  color: white;
}
#player .player-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: auto;
}
#player .player-buttons button:not(:first-of-type) {
  margin-left: 30px;
}
#player .player-buttons button:first-of-type img, #player .player-buttons button:nth-of-type(3) img {
  height: 20px;
}
#player .player-buttons button:nth-of-type(2) img, #player .player-buttons button:last-of-type img {
  height: 30px;
}
@media (min-width: 600px) and (min-height: 600px) {
  #player .player-buttons button:not(:first-of-type) {
    margin-left: 50px;
  }
  #player .player-buttons button:first-of-type img, #player .player-buttons button:nth-of-type(3) img {
    height: 25px;
  }
  #player .player-buttons button:nth-of-type(2) img, #player .player-buttons button:last-of-type img {
    height: 40px;
  }
}
#player .player-buttons#desktop {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
@media (orientation: portrait) {
  #player .player-buttons#desktop {
    display: none;
  }
}
#player .player-buttons#mobile {
  position: fixed;
  top: calc(100% - 50px);
}
@media (orientation: landscape) {
  #player .player-buttons#mobile {
    display: none;
  }
}
@media (min-width: 600px) and (min-height: 600px) {
  #player .player-buttons#mobile {
    top: calc(100% - 60px);
  }
}

@-moz-document url-prefix() {
  @media (min-width: 600px) and (min-height: 768px) {
    #player #player-aside #content div:not(#msg):not(#website):not(.player-buttons) {
      margin-top: -0.5vw;
    }
  }
}
@media (orientation: portrait) {
  body[data-mode=contributors] #player #player-aside #content > *, body[data-mode=titles] #player #player-aside #content > *, body[data-mode=colors] #player #player-aside #content > *, body[data-mode=tags] #player #player-aside #content > *, body[data-mode=years] #player #player-aside #content > * {
    position: static;
  }
  body[data-mode=contributors] #player #player-aside #content #msg, body[data-mode=titles] #player #player-aside #content #msg, body[data-mode=colors] #player #player-aside #content #msg, body[data-mode=tags] #player #player-aside #content #msg, body[data-mode=years] #player #player-aside #content #msg {
    height: auto !important;
    max-height: 4rem;
    margin-top: 0;
  }
  body[data-mode=contributors] #player #player-aside #content div:not(:first-of-type):not(#msg) p, body[data-mode=contributors] #player #player-aside #content > p, body[data-mode=titles] #player #player-aside #content div:not(:first-of-type):not(#msg) p, body[data-mode=titles] #player #player-aside #content > p, body[data-mode=colors] #player #player-aside #content div:not(:first-of-type):not(#msg) p, body[data-mode=colors] #player #player-aside #content > p, body[data-mode=tags] #player #player-aside #content div:not(:first-of-type):not(#msg) p, body[data-mode=tags] #player #player-aside #content > p, body[data-mode=years] #player #player-aside #content div:not(:first-of-type):not(#msg) p, body[data-mode=years] #player #player-aside #content > p {
    margin: 2rem 0;
  }
}

.hide {
  display: none;
}

.selected,
.focused {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.max-height {
  height: 100%;
}

.disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltip {
  position: absolute;
  display: inline-block;
  min-width: 150px;
  padding: 15px 10px;
  background: none;
  background-color: #fafafa;
  border: 1px solid #a1a1a1;
  color: black;
  z-index: 1000;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8rem;
}
.tooltip::before {
  content: "";
  position: absolute;
  top: unset;
  bottom: 100%;
  margin-bottom: 1px;
  left: 20px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #a1a1a1 transparent;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: unset;
  bottom: 100%;
  left: 20px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fafafa transparent;
}

.file-margin {
  margin: 2rem 0 0 -1.75rem;
}
@media (min-width: 1024px) and (min-height: 600px) {
  .file-margin {
    margin: 2rem 0 0 -1.75rem;
  }
}

.color-margin {
  margin: 2rem 0 0 -2.5rem;
}
@media (min-width: 1024px) and (min-height: 600px) {
  .color-margin {
    margin: 3rem 0 0 -3rem;
  }
}

.blink {
  animation: blink 2s forwards;
  animation-iteration-count: 3;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.about h1 {
  font-size: 2rem;
}
@media (min-width: 600px) and (min-height: 768px) {
  .about h1 {
    font-size: 3.5vw;
  }
}
.about h2 {
  margin-bottom: 0;
  font-weight: bold;
}
.about h2 + p {
  margin-top: 0;
}
.about a:hover, .about a:focus, .about a:active {
  font-weight: normal;
}
.about p a {
  color: blue;
}
.about p a:hover, .about p a:focus, .about p a:active {
  text-decoration: underline;
}
.about sup {
  font-size: 75%;
  vertical-align: super;
}
.about .quotation, .about .caption {
  font-size: 1.5rem;
}
.about .caption {
  display: block;
  font-style: italic;
  margin-bottom: 3rem;
}
.about .hello:first-of-type::after {
  content: "@";
}
.about .hello:last-of-type::after {
  content: ".fr";
}

/*# sourceMappingURL=stylesheet.css.map */
