.about {

    h1 {
        font-size: 2rem;
        @media (min-width: 600px) and (min-height: 768px) {
            font-size: 3.5vw;
        }
    }

    h2 {
        margin-bottom: 0;
        font-weight: bold;
        & + p {
            margin-top: 0;
        }
    }

    a {
        &:hover, &:focus, &:active {
            font-weight: normal;
        }
    }

    p a {
        color: blue;
        &:hover, &:focus, &:active {
            text-decoration: underline;
        }
    }

    sup {
        font-size: 75%;
        vertical-align: super;
    }

    .quotation, .caption {
        font-size: 1.5rem;
    }

    .caption {
        display: block;
        font-style: italic;
        margin-bottom: 3rem;
    }

    .hello:first-of-type {
        &::after {
            content: "@"
        }
    }
    .hello:last-of-type {
        &::after {
            content: ".fr"
        }
    }
}
