@mixin tooltip {
    position: absolute;
    display: inline-block;
    min-width: 150px;
    padding: 15px 10px;
    background: none;
    background-color: #fafafa ;
    border: 1px solid #a1a1a1;
    color: $color;
    z-index: 1000;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.8rem;
    &::before {
        content: "";
        position: absolute;
        top: unset;
        bottom: 100%;
        margin-bottom: 1px;
        left: 20px;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #a1a1a1 transparent;
    }
    &::after {
        content: "";
        position: absolute;
        top: unset;
        bottom: 100%;
        left: 20px;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #fafafa transparent;
    }
}


body {
    overflow-x: hidden;
}

#participate {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (orientation: landscape) {
        flex-direction: row;
    }
}


// Sections

section#left {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) and (orientation: landscape) {
        width: 40%;
    }
    @media (min-width: 1080px) and (orientation: landscape) {
        width: 30%;
    }
}

section#right {
    width: 100%;
    z-index: 1;
    @media (orientation: landscape) {
        overflow: auto;
        margin: 0 10px 0 4rem;
    }
    @media (min-width: 768px) {
        overflow: hidden;
    }
    @media (min-width: 768px) and (orientation: landscape) {
        width: 60%;
    }
    @media (min-width: 1080px) and (orientation: landscape) {
        width: 70%;
    }
}


// Left section
.intro {
    & > div {
        display: flex;
        align-items: flex-start;
        align-items: center;
    }
    .what-button {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        font-weight: bold;
        padding: 2px;
        line-height: 1;
        margin-left: 1rem;

        background-color: $color;
        color: $alt-color;

        // background-color: transparent;
        // color: $color;
        // border: 1px solid $color;
    }
}

#what-div, #submit-div {
    position: absolute;
    background-color: $color;
    color: $alt-color;
    padding: 1.5rem;
    z-index: 1000;
    top: 0;
    width: 100%;
    min-height: 100%;
    @media (min-width: 600px) and (min-height: 600px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        min-height: auto;
    }
    ul {
        list-style: disc;
        padding-left: 1rem;
    }
    h2, span.thanks {
        font-size: 1.25rem;
        // font-weight: bold;
    }
    h2:not(:first-of-type), span.thanks {
        margin-top: 1.5rem;
    }
    h2 {
        display: inline-block;
    }
    p {
        margin: 0;
    }
    a {
        color: blue;
        &:hover, &:active, &:focus {
            font-weight: normal;
            text-decoration: underline;
        }
    }
    .cross {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        margin: 1.5rem;
        img {
            width: 100%;
        }
    }
}

#what-div {
    span.licence {
        display: block;
        margin-bottom: 0.5rem;
    }
    span.thanks {
        display: block;
    }
}

#submit-div {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        margin-bottom: 0.5rem;
    }
    ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        li {
            border: 1px solid $alt-color;
            &:first-of-type {
                margin-right: 20px;
            }
            button {
                color: $alt-color;
                padding: 5px;
                &:hover, &:active, &:focus {
                    background-color: $alt-color;
                    color: $color;
                }
            }
        }
    }
}

// Handle font size
.intro h1, form input::placeholder, form input:not(:placeholder-shown), form textarea::placeholder, .form-field:nth-of-type(odd):not(:first-of-type) .form-label, #player #player-aside #content .infos:not(#website) > *, #player #player-aside #content > p {
    // font-size: 2rem;
    // @media (min-width: 768px) and (min-height: 600px) {
    //     font-size: 3rem;
    // }
    // @media (min-width: 1410px) and (min-height: 768px) {
    //     font-size: 4rem;
    // }
    font-size: 2rem;
    @media (min-width: 600px) and (min-height: 768px) {
        font-size: 3.5vw;
    }
}

.intro h1 {
    @media (orientation: portrait) {
        margin-top: 2px;
    }
}

// Increase input height
.form-field:not(:nth-of-type(5)) input, .form-field:nth-of-type(odd):not(:first-of-type) .form-label, textarea {
    min-height: 2.5rem;
    @media (min-width: 600px) and (min-height: 768px) {
        min-height: 5vw;
    }
}
// Add extra space under visible labels
.form-field:nth-of-type(odd):not(:first-of-type) {
    margin-bottom: 1rem;
}
textarea {
    vertical-align: super;
}

// Firefox specific
@-moz-document url-prefix() {
    // Increase input height
    .form-input-wrapper input:not([type='color']), textarea {
        // min-height: 2rem;
        // @media (min-width: 768px) and (min-height: 600px) {
        //     min-height: 3rem;
        // }
        // @media (min-width: 1410px) and (min-height: 768px) {
        //     min-height: 4rem;
        // }
        min-height: 2rem;
        @media (min-width: 600px) and (min-height: 768px) {
            min-height: 3.5vw;
        }
    }
    // Add extra space under visible labels
    .form-field:nth-of-type(odd):not(:first-of-type) {
        margin-bottom: 0;
    }
    textarea {
        vertical-align: none;
    }
}

.intro > p > a, #content a {
    color: blue;
    &:hover, &:active, &:focus {
        text-decoration: underline;
    }
}

.title, .intro > p > a, #content a {
    &:hover, &:active, &:focus {
        font-weight: normal;
    }
}

nav {
    margin-bottom: 1.5rem;
    .lang {
        display: flex;
        margin-bottom: 1rem;
        li:last-of-type {
            margin-left: 1rem;
        }
        a {
            font-variant: small-caps;
        }
    }
    .page-content li::before {
        content: '* ';
        margin-left: 1rem;
        vertical-align: sub;
        display: inline;
    }
}


// Form
// Overwrite default style

#form {
    height: 100%;
    // Space fieldset automatically with flex
    #add-page-participate {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // Set placeholders opacity to 1 and style font
    form input::placeholder, form input:not(:placeholder-shown), form textarea::placeholder, form textarea:not(:placeholder-shown), .form-field:nth-of-type(odd):not(:first-of-type) .form-label {
        opacity: 1;
        font-family: $font;
        color: $color;
    }

    // If input !empty, font = italic
    form input:not(:placeholder-shown), form textarea:not(:placeholder-shown) {
        font-style: italic;
    }
    .form-field:nth-of-type(6) input:not(:placeholder-shown) {
        color: blue;
    }

    // Else, font = normal
    form input:placeholder-shown + label, form textarea:placeholder-shown + label {
        font-style: normal;
    }

    // Add caption to file field
    .form-field:nth-of-type(3) {
        .form-label {
            label {
                display: inline-flex;
                white-space: nowrap;
                &::after {
                    content: '(1\a0min,\A.mp3)';
                    display: block;
                    font-size: 1rem;
                    white-space: pre;
                    margin-left: 1rem;
                }
            }
        }
    }

    // Hide labels for writtable fields
    .form-field:first-of-type .form-label, .form-field:not(:nth-of-type(odd)) .form-label, .form-label label span.required {
        display: none;
    }
    .form-label label span.required {
        display: none;
    }

    // Hide input and textarea boxes (except for color input)
    .form-field .form-input-wrapper input, .form-textarea-wrapper textarea {
        border: none;
        // background-color: #F5F5F5;

        // border: 1px solid #A9A9A9;
        background-color: transparent;
    }

    // Set input and textarea width to 100%
    .form-field:not(:nth-of-type(5)) .form-input-wrapper input, .form-textarea-wrapper textarea {
        width: 100%;
    }

    // Change color input style border, resize
    input[type='color'] {
        border: none !important;
        width: 2.5rem;
        margin: 0;
        background-color: transparent;
        cursor: pointer;
        @media (min-width: 1024px) and (min-height: 600px) {
            height: 2.5rem;
            width: 3.25rem;
        }
    }
    input[type='color']::-moz-color-swatch {
        border: 2px solid $color;
        @media (min-width: 1024px) and (min-height: 600px) {
            height: 2rem;
            width: 3rem;
        }
    }
    input[type='color']::-webkit-color-swatch {
        border: 2px solid $color;
    }

    // Disable field resize in textarea + set line-height
    .form-textarea-wrapper textarea {
        resize: none;
        line-height: 1;
    }

    // Set file and color input display to inline-block
    .form-field:nth-of-type(odd):not(:first-of-type) .form-label, .form-field:nth-of-type(odd):not(:first-of-type) .form-data {
        display: inline-block;
    }
    .form-field:nth-of-type(odd):not(:first-of-type) .form-label {
        margin-right: 0.5rem;
    }

    // Hide file input extras
    .dz-message, .dz-image, .dz-details, .dz-success-mark, .dz-error-mark {
        display: none;
    }

    // Style file error message due to file size
    .dropzone .dz-preview.dz-error .dz-error-message {
        @include tooltip;
        opacity: 1;
        border-radius: 0;
        top: 50px;
    }

    // Style file upload progress bar
    .dz-progress {
        margin-top: 30px;
        border: 1px solid #5d5d5d;
        @media (max-width: 282px) {
            margin-left: -10px;
        }
    }

    // Style file error message due to unachieved upload
    .dropzone .dz-preview .tooltip {
        top: 90px;
        left: -10px;
    }

    .dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview .tooltip {
        @media (orientation: portrait) and (min-width: 283px) {
            left: -115px;
            &::before {
                left: 125px;
            }
            &::after {
                left: 125px;
            }
        }
    }

    // Overwrite initial z-index
    .form-input-file.dropzone .dz-preview:hover {
        z-index: 1000;
    }

    // Overwrite dropzone style
    .dropzone {
        min-height: 0;
    }
    .dropzone {
        display: flex;
        align-items: center;
        background: transparent;
        color: $color;
        border: none;
        margin: 0;
        padding: 0;
        & > span {
            cursor: pointer;
            &::before {
                content : '▼';
            }
        }
        .dz-preview {
            min-height: 0;
            // margin: 0 0 0 1rem;
            margin: 0;
        }
        .dz-remove {
            font-size: 2rem;
            color: $color;
        }
    }

    // Handle text input tolltip
    input[name="data[name]"] + .tooltip, input[name="data[title]"] + .tooltip, textarea[name="data[message]"] + .tooltip, input[name="data[website]"] + .tooltip {
        margin-right: 0;
        left: 0;
        margin-top: 2.75rem;
        @media (min-width: 600px) and (min-height: 768px) {
            margin-top: 4.5vw;

        }
    }
}


// Right Section

#pagination {
    display: none;
    width: 100%;
    justify-content: space-between;
    margin-bottom: calc(3.5vw + 0.5rem);
    @media (min-width: 768px) and (orientation: portrait), (orientation: landscape) {
        display: flex;
    }
    button {
        text-align: left;
    }
}

section#right {
    display: flex;
    flex-direction: column;
    &.hide {
        display: none;
    }

    & > div {
        height: 100%;

        @media (min-width: 768px) and (orientation: portrait), (orientation: landscape) {
            column-width: var(--section-width);
            column-gap: 0;
            column-fill: auto;
            overflow-x: hidden;
        }

        &.current {
            @media (min-width: 768px) {
                // overflow: hidden;
            }
        }
    }
}

// Contributors
#contributors, #titles {
    ul {
        a {
            width: 100%;
            ul {
                // width: 100%;
                display: flex;
                justify-content: space-between;
            }
            li {
                width: calc(100% / 3);
                word-wrap: break-word;
                word-break: break-word;
                &:not(:last-of-type) {
                    margin-right: 1rem;
                }
                &:last-of-type {
                    text-align: right;
                }
            }
        }
    }
}

// Colors
#colors {
    ul {
        width: 100%;
        // height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
        grid-auto-rows: 1fr;
        grid-gap: 1rem;
        &::before {
            content: '';
            width: 0;
            padding-bottom: 100%;
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }
        & > *:first-child {
            grid-row: 1 / 1;
            grid-column: 1 / 1;
        }
        li {
            width: 100%;
            a {
                width: 100%;
                height: 100%;
                display: block;
                color: transparent;
                &:hover, &:active, &:focus {
                    border: 2px solid $color;
                }
            }
        }
    }
}

// Tags, Years
#tags, #years {
    height: calc(100% - (3.5vw + 2rem));
    p {
        margin: 0;
    }
}

#tags ul, #years div {
    height: 100%;
    width: 100%;
    @media (min-width: 768px) and (orientation: landscape) {
        column-fill: auto;
        column-gap: 1rem;
        column-count: 3;
        // width: calc(60vw - 6rem);
    }
    @media (min-width: 1080px) and (orientation: landscape) {
        column-count: 5;
        // width: calc(70vw - 6rem);
    }
}

// Years
#years {
    time {
        display: inline-block;
    }
    ul:not(:last-of-type) {
        margin-bottom: 1rem;
    }
}

#grab-icon {
    position: absolute;
    z-index: 1000;
    font-family: sans-serif;
    display: flex;
    padding: 5px;
    width: 40px;

    background-color: $color;
    color: $alt-color;
    border: none;

    @media (orientation: portrait) {
        cursor: row-resize;
        transform-origin: bottom;
        // width: auto;
        // height: 40px;
    }

    @media (orientation: landscape) {
        cursor: col-resize;
    }

    // background-color: $alt-color;
    // color: $color;
    // border: 1px solid $color;

    img {
        width: 100%;
    }
}

// Player
#player {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to right, var(--color), white);
    color: $alt-color;
    overflow: hidden;
    pointer-events: none;
    @media (orientation: landscape) {
        right: 0;
        left: auto;
    }

    &-grab-zone {
        width: 100%;
        height: 10px;
        position: relative;
        top: calc(100% - 10px);
        z-index: 2;
        cursor: row-resize;
        pointer-events: auto;
        @media (orientation: landscape) {
            height: 100%;
            width: 10px;
            top: auto;
            cursor: col-resize;
        }
    }

    &-wrapper {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        @media (orientation: landscape) {
            flex-direction: row;
        }
    }

    &-aside {
        width: 100%;
        height: 100%;
        @media (min-width: 768px) and (orientation: landscape) {
            width: 40%;
        }
        @media (min-width: 1080px) and (orientation: landscape) {
            width: 30%;
        }
        #content {
            height: 100%;
            pointer-events: auto;
            div, & > p {
                position: absolute;
            }
            #msg {
                overflow: auto;
                margin-top: 0.25rem;
                @media (min-width: 600px) and (min-height: 768px) {
                    margin-top: 0.5rem;
                }
            }
            p {
                margin: 0;
            }
            .infos {
                width: 100%;
                white-space: nowrap;
                overflow: auto;
                scrollbar-width: none;
                -ms-overflow-style: none;
                &:nth-of-type(2) p {
                    &::after {
                        content: attr(data-duration);
                        display: inline-block;
                        vertical-align: text-top;
                        font-size: 1rem;
                        margin-left: 5px;
                    }
                }
                &:last-of-type {
                    margin-top: 0;
                    a {
                        font-size: 1rem;
                    }
                }
            }
            .infos::-webkit-scrollbar {
                display: none;
            }
            div:not(#msg):not(#website):not(.player-buttons) {
                margin-top: -5px;
                @media (min-width: 600px) and (min-height: 768px) {
                    margin-top: -0.75vw;
                }
            }
        }
    }

    &-main {
        // main is used to keep same behaviour (width) for intro div in form and player
        width: 100%;
        @media (orientation: landscape) {
            margin-left: 4rem;
        }
        @media (min-width: 768px) and (orientation: landscape) {
            width: 60%;
        }
        @media (min-width: 1080px) and (orientation: landscape) {
            width: 70%;
        }
    }

    .intro h1 a, .page-mode button, .lang a {
        color: $alt-color;
    }

    .player-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        pointer-events: auto;
        button {
            &:not(:first-of-type) {
                margin-left: 30px;
            }
            &:first-of-type, &:nth-of-type(3) {
                img {
                    height: 20px;
                }
            }
            &:nth-of-type(2), &:last-of-type {
                img {
                    height: 30px;
                }
            }
        }
        @media (min-width: 600px) and (min-height: 600px) {
            button {
                &:not(:first-of-type) {
                    margin-left: 50px;
                }
                &:first-of-type, &:nth-of-type(3) {
                    img {
                        height: 25px;
                    }
                }
                &:nth-of-type(2), &:last-of-type {
                    img {
                        height: 40px;
                    }
                }
            }
        }
        &#desktop {
            position: absolute;
            bottom: 0;
            margin-bottom: 20px;
            @media (orientation: portrait) {
                display: none;
            }
        }
        &#mobile {
            position: fixed;
            top: calc(100% - 50px);
            @media (orientation: landscape) {
                display: none;
            }
            @media (min-width: 600px) and (min-height: 600px) {
                top: calc(100% - 60px);
            }
        }
    }
}

// Firefox specific
@-moz-document url-prefix() {
    #player #player-aside #content div:not(#msg):not(#website):not(.player-buttons) {
        @media (min-width: 600px) and (min-height: 768px) {
            margin-top: -0.5vw;
        }
    }
}


body[data-mode="contributors"], body[data-mode="titles"], body[data-mode="colors"], body[data-mode="tags"], body[data-mode="years"] {
    @media (orientation: portrait) {
        #player #player-aside #content {
            & > * {
                position: static;
            }
            #msg {
                height: auto !important;
                max-height: 4rem;
                margin-top: 0;
            }
            div:not(:first-of-type):not(#msg) p, & > p {
                margin: 2rem 0;
            }
        }
    }
}

// Global

.hide {
    display: none;
}

.selected,
.focused {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.max-height {
    height: 100%;
}

.disable-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip {
    @include tooltip;
}

.file-margin {
    margin: 2rem 0 0 -1.75rem;
    @media (min-width: 1024px) and (min-height: 600px) {
        margin: 2rem 0 0 -1.75rem;
    }
}


.color-margin {
    margin: 2rem 0 0 -2.5rem;
    @media (min-width: 1024px) and (min-height: 600px) {
        margin: 3rem 0 0 -3rem;
    }
}

.blink {
    animation: blink 2s forwards;
    animation-iteration-count: 3;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
