<ul>
    {% for participation in page.collection.order('random') %}
        <li><a href="{% if grav.language.getActive == 'fr' %}{{ page.route ~ 'fr' ~ participation.route ~ '#listen' }}{% else %}{{ page.route ~ 'en' ~ participation.route ~ '#listen' }}{% endif %}" style="background-color: {{ participation.header.color }}" aria-label="{{ participation.title }},{% if grav.language.getActive == 'fr' %} couleur : {% else %} color: {% endif %}{{ participation.header.color }}"></a></li>
    {% endfor %}
</ul>
