{% set home = page.find('/home') %}

<div id="participate">
    <section id="left">
        {% include 'partials/intro.html.twig' with { home: home, page: page } %}
        <div id="form">
            {% include "forms/form.html.twig" %}
        </div>
    </section>
    <section id="right">
        <ul id="pagination">
            <li><button class="pagination" aria-label="{{ "PREVPAGE"|t }}">{{ "PREVPAGE"|t }}</button></li>
            <li><button class="pagination" aria-label="{{ "NEXTPAGE"|t }}">{{ "NEXTPAGE"|t }}</button></li>
        </ul>
        <div id="contributors" class="current">
            {% include 'partials/contributors.html.twig' with { page: home } %}
        </div>
        <div id="titles" class="hide">
            {% include 'partials/titles.html.twig' with { page: home } %}
        </div>
        <div id="colors" class="hide">
            {% include 'partials/colors.html.twig' with { page: home } %}
        </div>
        <div id="tags" class="hide">
        {% include 'partials/tags.html.twig' with { page: home } %}
        </div>
        <div id="years" class="hide">
        {% include 'partials/years.html.twig' with { page: home } %}
        </div>
    </section>
</div>
