<div class="intro-container">
    <div class="intro">
        <div>
            <h1><a href="{{ '/' ~ grav.language.getActive }}" class="title">Plage blanche</a></h1><button class="what-button" aria-label="{{ "WHAT"|t }}">?</button>
        </div>
        {{ home.content }}
    </div>
    <nav>
        <ul class="lang">
            {{ dump(page) }}
            {% for lang in grav.language.getLanguages() %}
                <li><a data-lang="{{ lang }}" {% if lang == grav.language.active %}class="selected"{% endif %} href="/{{ lang ~ page.route }}" aria-label="{% if lang == 'fr' %}Afficher la page en français{% else %}Display page in english{% endif %}">{{ lang }}</a></li>
            {% endfor %}
        </ul>
        <ul class="page-mode">
            <li><button aria-label="{{ "PARTICIPATE"|t }}" data-slug="contribute">{{ "PARTICIPATE"|t }}</button></li>
            <li><button aria-label="{{ "PLAYER"|t }}" data-slug="listen">{{ "PLAYER"|t }}</button></li>
            <li>
                <button aria-label="{{ "RESEARCH"|t }}" aria-expanded="false" data-slug="research">{{ "RESEARCH"|t }}</button>
                <ul class="page-content hide">
                    <li><button aria-label="{{ "CONTRIBUTORS"|t }}" data-slug="contributors" aria-controls="contributors">{{ "CONTRIBUTORS"|t }}</button></li>
                    <li><button aria-label="{{ "TITLES"|t }}" data-slug="titles" aria-controls="titles">{{ "TITLES"|t }}</button></li>
                    <li><button aria-label="{{ "COLORS"|t }}" data-slug="colors" aria-controls="colors">{{ "COLORS"|t }}</button></li>
                    <li><button aria-label="{{ "TAGS"|t }}" data-slug="tags" aria-controls="tag">{{ "TAGS"|t }}</button></li>
                    <li><button aria-label="{{ "YEARS"|t }}" data-slug="years" aria-controls="years">{{ "YEARS"|t }}</button></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
