{% set color = page.header.color %}

<div id="player" {% if color %} style="--color:{{ color }};{% endif %}" data-src="{% for item in page.header.file %}{{ item.path|replace({'user/pages/home' : '' }) }}{% endfor %}">
    <div class="pages-list hide" aria-hidden="true">
        {% for contrib in contributions %}
            <div data-src="{% for item in contrib.header.file %}{{ item.path|replace({'user/pages/home' : '' }) }}{% endfor %}"></div>
        {% endfor %}
    </div>
    <div id="player-wrapper">
        <div id="player-aside">
            <div id="menu-copy" aria-hidden="true">
                {% include 'partials/intro.html.twig' with { home: page.find('/home'), page: page } %}
            </div>
            <div id="content">
                <div class="infos">
                    <p>{{ page.header.name }}</p>
                </div>
                <div class="infos">
                    <p data-duration="{{ '(' ~ page.header.duration ~ ')' }}">{{ page.header.title }}</p>
                </div>
                <div id="msg">
                    <p>{{ page.header.message }}</p>
                </div>
                <p>{{ page.header.color }}</p>
                <div id="website" class="infos">
                    <a href="{{ page.header.website }}" target="_blank">{{ page.header.website }}</a>
                </div>
            </div>
            <div id="mobile" class="player-buttons">
                <button aria-label="{{ "BACKWARD"|t }}" data-action="backward"><img src="{{ url('theme://images/backward.svg') }}"/></button>
                <button aria-label="play/pause" data-action="play"><img src="{{ url('theme://images/play.svg') }}"/></button>
                <button aria-label="{{ "FORWARD"|t }}" data-action="forward"><img src="{{ url('theme://images/forward.svg') }}"/></button>
                <button aria-label="{% if grav.language.active == 'fr' %}activer/désactiver le mode boucle {% else %}enable/disable repeat mode{% endif %}" data-action="repeat"><img src="{{ url('theme://images/repeat.svg') }}"/></button>
            </div>
        </div>
        <div id="player-main" aria-hidden="true"></div>
    </div>
    <div id="desktop" class="player-buttons">
        <button aria-label="{{ "BACKWARD"|t }}" data-action="backward"><img src="{{ url('theme://images/backward.svg') }}"/></button>
        <button aria-label="play/pause" data-action="play"><img src="{{ url('theme://images/play.svg') }}"/></button>
        <button aria-label="{{ "FORWARD"|t }}" data-action="forward"><img src="{{ url('theme://images/forward.svg') }}"/></button>
        <button aria-label="{% if grav.language.active == 'fr' %}activer/désactiver le mode boucle {% else %}enable/disable repeat mode{% endif %}" data-action="repeat"><img src="{{ url('theme://images/repeat.svg') }}"/></button>
    </div>
    <div id="player-grab-zone" aria-hidden="true"></div>
</div>

<button tabindex="-1" aria-hidden="true" id="grab-icon" data-padding="5"><img src="{{ url('theme://images/arrow.svg') }}"/></button>
