<ul>
    {% for participation in page.collection.order('header.tag', 'asc') %}
        <li><a href="{% if grav.language.getActive == 'fr' %}{{ page.route ~ 'fr' ~ participation.route ~ '#listen' }}{% else %}{{ page.route ~ 'en' ~ participation.route ~ '#listen' }}{% endif %}">{{ participation.header.tag }}</a></li>
    {% endfor %}
</ul>
