{% for participation in page.collection.order('title', 'asc') %}

<ul>
    <li>
        <a href="{% if grav.language.getActive == 'fr' %}{{ page.route ~ 'fr' ~ participation.route ~ '#listen' }}{% else %}{{ page.route ~ 'en' ~ participation.route ~ '#listen' }}{% endif %}">
           <ul>
                <li>{{ participation.header.title }}</li>
                <li>{{ participation.header.name }}</li>
                <li>{{ participation.header.duration }}</li>
            </ul>
        </a>
    </li>
</ul>

{% endfor %}
