{% set years = [] %}

{% for year in page.collection.order('header.timestamp', 'desc') %}
   {% if year.header.timestamp|date('Y') not in years %}
       {% set years = years|merge([year.header.timestamp|date('Y')]) %}
   {% endif %}
{% endfor %}

<div>
    {% for year in years %}

        <time tabindex="0" datetime="{{ year }}">{{ year }}</time>

        <ul>

        {% for participation in page.collection.order('header.timestamp', 'desc') %}

            {% if participation.header.timestamp|date('Y') == year %}
                <li><a href="{% if grav.language.getActive == 'fr' %}{{ page.route ~ 'fr' ~ participation.route ~ '#listen' }}{% else %}{{ page.route ~ 'en' ~ participation.route ~ '#listen' }}{% endif %}">{{ participation.header.name }}, <em>{{ participation.header.title }}</em></a></li>
            {% endif %}

        {% endfor %}

        </ul>

    {% endfor %}
</div>
