@font-face {
font-family: 'Happy Times';
src: url('../fonts/happytimes-regular.woff2?v=2.020') format('woff2');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Happy Times';
src: url('../fonts/happytimes-italic.woff2?v=2.020') format('woff2');
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'Happy Times';
src: url('../fonts/happytimes-bold.woff2?v=2.020') format('woff2');
font-weight: bold;
font-style: normal;
}
