// based on http://meyerweb.com/eric/tools/css/reset/

:root {
    font-family: $font;
    font-size: 1em;
    color: $color;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote :first-child::before, q::before, {
	content: '« ';
}
blockquote :last-child::after, q::after {
	content: ' »';
}

p {
    margin: 1rem 0;
}

button {
    &:not(:disabled) {
        cursor: pointer;
        &:hover, &:focus {
            font-weight: bold;
        }
    }
    &:disabled {
        pointer-events: none;
    }
    background-color: transparent;
    border: none;
    &:not([data-slug="research"]) {
        &:active {
            font-weight: bold;
        }
    }
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
    color: $color;
        &:hover, &:active, &:focus {
            font-weight: bold
        }
}
