{% extends 'partials/base.html.twig' %}

{% block page %}

{% block content %}

<div>
    <h1><a href="{{ '/' ~ grav.language.getActive }}">Plage blanche</a></h1>
    {{ page.content|markdown }}
</div>

{% endblock %}

{% endblock %}
