{% extends 'partials/base.html.twig' %}

{% block page %}

{% block content %}

{% include 'partials/home.html.twig' with { form: forms('add_page.participate') } %}

{% include 'partials/player.html.twig' with { page: page.find(page.route), contributions: page.find('/home').collection } %}

<div id="submit-div" class="hide">
    <div>
        <h2 tabindex="0">Contribution</h2>
        <p>{{ "LICENSE"|t|markdown }}</p>
        <ul>
            <li>
                <button>{{ "YES"|t }}</button>
            </li>
            <li>
                <button>{{ "NO"|t }}</button>
            </li>
        </ul>
        <button class="cross" aria-label="{{ "CROSS"|t }}"><img src="{{ url('theme://images/cross2.svg') }}"/></button>
    </div>
</div>

<div id="what-div" class="hide">{{ page.find('/infos').content }}<button class="cross" aria-label="{{ "CROSS"|t }}"><img src="{{ url('theme://images/cross2.svg') }}"/></button></div>

{% endblock %}

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/content.js') %}
{% do assets.addJs('theme://js/player.js') %}
{% do assets.addJs('theme://js/pagination.js') %}
{% endblock %}
